body
{
	background-color: black;
}

main
{
	width: 1200px;
	margin: 0 auto;
	margin-top: 100px;
}

.drop-zone
{
	border: 1px solid yellow;
	height: 400px;
	margin-bottom: 100px;
}

.items
{
	background-color: yellow;
	height: 100px;
	width: 720px;
	margin-top: 100px;
	margin: 0 auto;
}

#playButton
{
	background-color: white;
	width: 50px;
	height: 50px;
	border-radius: 45px;
}